extend admin_layout

block content
 script(src='/scripts/custom/admindex.js')
 .all-domains-header.h1 Admin Page
 #urlList
  .all-domains-table-container
    table.table.tablesorter.table-bordered.table-striped.table-hover(id="rippedDomains")
     thead
      tr
       th User
       th URL
       th Official/Ripped
       th Creation Date
       th Number of Visits
       th Redirect Rate
     tbody
      each domain in domains
       tr(id=domain.id)
        td.user #{domain.user}
        td.url #{domain.url}
        if domain.registered == "0"
         td.unregistered Ripped
        else
         td.registered Official
        td.creationDate #{domain.creation_date}
        td.count #{domain.count}
        td.rate #{domain.rate}%